<%= @logo %>
<div class="top_space"></div>
<%= @hackney_address %>

<%= @tenant_address %>

<div>
  <p>
    <%= @today_date %>
  </p>

  <p>
    Dear <%= @letter.title %> <%= @letter.surname %>,
  </p>

  <div class="red_box">
    <p>
      <strong>
        NOTICE TO ADVISE YOU OF A COURT HEARING
      </strong>
    </p>
  </div>
  <div class="red_box">
    <p>
      <strong>
        You Owe £<%= @letter.total_collectable_arrears_balance %> as at <%= @today_date %>
      </strong>
    </p>
  </div>

  <p>
    A Court Hearing date has been set for <%= @letter.court_date %> at <%= @letter.court_time %>. The Court will have contacted you about this.
  </p>

  <p>
  At the Court hearing, the Council will be asking for:
    <ul>
      <li>A Money Judgment for the arrears that you owe.
      <li>A Possession Order for your home.
      <li>Payment towards the Council's legal costs.
    </ul>
  </p>

  <p>
    You should contact a Citizen's Advice Bureau or a solicitor for independent advice. It is important that you attend the Court Hearing to explain your circumstances to the Judge.
  </p>

  <p>
    We are aware that the coronavirus pandemic has had a direct impact on many of our tenants’ ability to pay their current rent so we will not escalate any case to Court if you can demonstrate that your arrears have accrued as a result of the impact of Covid-19 on your finances. You must however be able to show that you looked into the support available, claimed all the benefits to which you are entitled, and have taken any appropriate advice which is freely available.
  </p>

  <p>
    You would have been informed in previous correspondence about the work carried out by our Financial Inclusion Team. They can offer advice and support to help you maximise your income by looking at benefits you may be entitled to and access other financial support. If you think that you would benefit from a referral to our Financial Inclusion Team then please contact me as soon as possible via email: income.services@hackney.gov.uk or telephone to speak to an Officer on 020 8356 3100.
  </p>

  <p>
    Please contact me immediately to ensure I have your current financial details, if you do not contact me, the Council will request a Court Order based on the most recent information we have.
  </p>

  <p>
    If you do not clear your arrears, you may be evicted from your home. You should contact the Council's Housing Needs Section for further advice on what will happen if you are evicted. The Housing Needs address and telephone number is: 1 Hillman Street, London E8 1DY and 020 8356 2929
  </p>

  <p>
    Yours sincerely,
  </p>

  <p>
    Ian Clark
    <br>
    Team Manager
  </p>
</div>
